<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Todos - With Server</title>
  <link rel="stylesheet" href="http://7xi2wv.com1.z0.glb.clouddn.com/css/todos1.min.css"/>
</head>

<body>
  <img class="blur"></img>
  <div id="todoapp">

    <header>
      <h1>Todos</h1>
      <div class="gb-border-flyin">
        <input id="new-todo" type="text" placeholder="What needs to be done?">
              <span class="gb-line gb-line-top"></span>
              <span class="gb-line gb-line-right"></span>
              <span class="gb-line gb-line-bottom"></span>
              <span class="gb-line gb-line-left"></span>        
      </div>

    </header>

    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
    </section>

    <footer>
      <a id="clear-completed">Clear completed</a>
      <div id="todo-count"></div>
    </footer>

  </div>

  <div id="instructions">
    Double-click to edit a todo.
  </div>

  <script src="http://7xi2wv.com1.z0.glb.clouddn.com/js/jquery.min.js"></script>
  <script src="http://7xi2wv.com1.z0.glb.clouddn.com/js/underscore.min.js"></script>
  <script src="http://7xi2wv.com1.z0.glb.clouddn.com/js/backbone.min.js"></script>
  <script src="http://7xi2wv.com1.z0.glb.clouddn.com/js/todolist.min.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- title %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
  </script>

  </body>
</html>
