html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size:@font-size;
	font-family: @font-family-base;
	line-height: @font-size;
	background: @body-bg;
	color: @font-color;
	width: 520px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}