#todoapp {
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	.boxShadow(rgba(0, 0, 0, 0.2) 0 2px 6px 0);
	.borderRadius(0 0 5px 5px);
}

#todoapp h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 0 0 10px 0;
}

#todoapp input[type="text"] {
	width: 466px;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999;
	.boxShadow(rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset);
}

#todoapp input::-webkit-input-placeholder {
	font-style: italic;
}